/* Primary colors */
/* #ffffff white*/
/* #ff5500 orange*/
/* #c44100 darker*/
/* #ff9900 orange/yellow */
/* background: linear-gradient(34deg, #ff5500 10%, #ff9900 100%); gradient background*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
header {
  margin-top: 75px;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#line {
  background-color: rgb(201, 201, 201);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 40px;
  z-index: -1;
}

header h1 {
  color: rgb(255, 85, 0);
  background-color: #ffffff;
  width: 260px;
}

@media only screen and (max-width: 768px) {
  header {
    width: 95%;
  }
}
/* header */

/* navbar */
#primaryNav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100vw*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  opacity: 0.95;
}

#primaryNav h2 {
  color: #ff5500;
  margin: 0;
}

#primaryNav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#primaryNav a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
}

#primaryNav a:hover {
  background-color: #ff5500;
  color: #ffffff;
  transition: 0.3s;
}

#secondaryNav {
  display: none;
}

@media only screen and (max-width: 768px) {
  #primaryNav {
    display: none;
  }

  #secondaryNav {
    display: block;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: -91.5vh;
    transition: top 0.5s ease;
  }

  #secondaryNav h2 {
    color: #ff5500;
    font-size: 2em;
    margin-top: 2em;
  }

  #secondaryNav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  #secondaryNav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 2em;
    font-size: 1.2em;
    background-color: #e6e6e6;
    width: 80%;
    margin: 0.5em auto;
    border-radius: 10px;
    transition: 0.3s;
  }

  #secondaryNav a:hover {
    background-color: #cfcfcf;
  }

  #secondaryNav a:active {
    background-color: #cfcfcf;
  }

  #secondaryNav i {
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
}
/* navbar */

/* home: main */
main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.singleContainer {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  width: 49%;
  height: 550px;
  margin-bottom: 20px;
}

.doubleContainer {
  width: 49%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subcontainer {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  height: 48.5%;
  display: flex;
  justify-content: center;
}

.component {
  padding: 1em;
}

.component h3 {
  font-size: 1.5em;
  margin: 0;
}

.price {
  font-size: 1.2em;
  font-weight: 700;
  color: #ff5500;
}

.subcontainer .component {
  width: 50%;
  padding: 0.8em;
  font-size: 0.9em;
}

.component button {
  border: none;
  background-color: #ff5500;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
}

.component button:hover {
  cursor: pointer;
}

.component button:active {
  color: #ff5500;
  background-color: #ffffff;
  border: 3px solid #ff5500;
}

#homePic1 {
  height: 50%;
  background-image: url("./media/pizza1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#homePic2 {
  width: 50%;
  background-image: url("./media/pizza2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.videoComponent {
  display: flex;
  align-items: center;
}

#homeVid1 {
  width: 100%;
  max-height: 100%;
}

.audioComponent {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audioComponent h3 {
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .audioComponent audio {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 95%;
  }

  .singleContainer {
    width: 100%;
  }

  .doubleContainer {
    width: 100%;
  }
}
/* home: main */

/* menu: main */
main {
  width: 80%;
}

.menu-section {
  width: 100%;
}

.menu-section h2 {
  color: #ff5500;
  background-color: #ffffff;
  width: fit-content;
  padding-right: 0.5em;
}

.h2-line {
  background-color: rgb(201, 201, 201);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 33px;
  z-index: -1;
}

.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 230px;
  margin: 0 0.8em 0.8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menu-item:hover {
  position: relative;
  bottom: 5px;
}

.menu-img {
  height: 80%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-item-text {
  display: flex;
  align-items: center;
}

.menu-item-text h4 {
  font-weight: 600;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.menu-item-text p {
  font-weight: 700;
  color: #ff5500;
  margin-right: 0.5em;
}

#img-pepperoni {
  background-image: url(./media/pepperoni.jpg);
  background-position: right;
}

#img-margherita {
  background-image: url(./media/margherita.jpg);
}

#img-bbq-chicken {
  background-image: url(./media/bbq-chicken.jpg);
}

#img-vegetarian {
  background-image: url(./media/vegetarian.jpg);
}

#img-meat-lovers {
  background-image: url(./media/meat-lovers.jpg);
}

#img-bruschetta {
  background-image: url(./media/bruschetta.jpg);
}

#img-garlic-knots {
  background-image: url(./media/garlic-knots.jpg);
}

#img-mozzarella-sticks {
  background-image: url(./media/mozzarella-sticks.jpg);
}

#img-ceasar-salad {
  background-image: url(./media/ceasar-salad.jpg);
}

#img-greek-salad {
  background-image: url(./media/greek-salad.jpg);
}

#img-caprese-salad {
  background-image: url(./media/caprese-salad.jpg);
}

#img-tiramisu {
  background-image: url(./media/tiramisu.jpg);
}

#img-cannoli {
  background-image: url(./media/cannoli.jpg);
}

#img-chocolate-chip-cookies {
  background-image: url(./media/chocolate-chip-cookies.jpg);
}

#img-soft-drinks {
  background-image: url(./media/soft-drinks.jpg);
}

#img-iced-tea {
  background-image: url(./media/iced-tea.jpg);
}

#img-lemonade {
  background-image: url(./media/lemonade.jpg);
}

#img-beer {
  background-image: url(./media/beer.jpg);
}

#img-wine {
  background-image: url(./media/wines.jpg);
}
/* menu: main */

/* footer */
footer {
  height: 50px;
  width: 100%;
  text-align: center;
  font-style: italic;
  background: linear-gradient(34deg, #ff5500 10%, #ff9900 100%);
  display: flex;
  justify-content: center;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
}
/* footer */
