/* Primary colors */
/* #ffffff white*/
/* #ff5500 orange*/
/* #c44100 darker*/
/* #ff9900 orange/yellow */
/* background: linear-gradient(34deg, #ff5500 10%, #ff9900 100%); gradient background*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
header {
  margin-top: 75px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#line {
  background-color: rgb(201, 201, 201);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 40px;
  z-index: -1;
}

header h1 {
  color: #ff5500;
  background-color: #ffffff;
  width: 260px;
}
/* header */

/* navbar */
nav {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100vw*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  opacity: 0.9;
}

nav h2 {
  color: #ff5500;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
}

nav a:hover {
  background-color: #ff5500;
  color: #ffffff;
  transition: 0.3s;
}
/* navbar */

/* home: main */
main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.singleContainer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 49%;
  height: 550px;
}

.doubleContainer {
  width: 49%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subcontainer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 49%;
  display: flex;
}

/* .container1 img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.subcontainer img {
  width: 50%;
  object-fit: cover;
} */

.component {
  padding: 1em;
}

.component h3 {
  font-size: 1.5em;
  margin: 0;
}

.price {
  font-size: 1.2em;
  font-weight: 700;
  color: #ff5500;
}

.component button {
  border: none;
  background-color: #ff5500;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 700;
}

.component button:hover {
  cursor: pointer;
}

.component button:active {
  color: #ff5500;
  background-color: #ffffff;
  border: 3px solid #ff5500;
}

#component1 {
  background-image: url("./images/pizza1.jpg");
  background-size: cover;
}
/* home: main */

footer {
  height: 50px;
  width: 100vw;
  text-align: center;
  font-style: italic;
  /* background-color: #ff5500; */
  background: linear-gradient(34deg, #ff5500 10%, #ff9900 100%);
  display: flex;
  justify-content: center;
  color: white;
}

/* Menu */
.menu-div {
  width: 100%;
}

.menu-div h3 {
  background-color: #ff5500;
  color: #ffffff;
  width: 100%;
  padding: 0.3em;
  font-weight: 600;
  text-align: center;
  font-size: 1.3em;
}
