* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #00005d;
}

#wrapper {
  width: 90%;
  margin: auto;
  background-color: #b3c7e6;
  color: #00006d;
}

header {
  background-color: #869dc7;
  color: #00005d;
  font-size: 150%;
  padding: 0.5em 0.5em;
}

h1 {
  margin-bottom: 0;
}

#tag {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
  color: #00005d;
  padding-right: 1em;
}

nav {
  float: left;
  width: 20%;
  letter-spacing: 0.1em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 1em;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  background-color: #00005d;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
}

/* pseudo classes */
/* link, visited, hover */

/* main float left width 80% */

nav a:link {
  color: #fff;
}

main {
  float: left;
  width: 80%;
  background-color: #eee;
  color: #00005d;
  padding: 1em;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

figure {
  float: right;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

footer {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  background-color: #869dc7;
  clear: both;
}

/* code media queries */

@media only screen and (max-width: 1024px) {
  #wrapper {
    width: auto;
  }

  nav {
    float: none;
    width: auto;
  }

  nav li {
    display: inline;
    padding: 0.5em;
  }

  nav ul {
    text-align: center;
  }

  nav a {
    display: inline;
    padding: 0.2em;
    /* background-color: #b3c7e6; */
    border-radius: 0;
  }

  main {
    float: none;
    width: auto;
  }

  h1,
  h2 {
    font-size: 120%;
  }

  p {
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {

  h1,
  h2 {
    font-size: 100%;
  }

  p {
    font-size: 75%;
  }

  figure {
    display: none;
  }

  nav,
  nav ul,
  nav li {
    padding: 0;
  }

  nav li {
    display: block;
  }

  nav a {
    display: block;
    padding: 0 0.5em;
    border-bottom: 1px solid #fff;
  }
}