* {
  box-sizing: border-box;
}
body {
  background-color: #00005d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#wrapper {
  width: 80%;
  margin: auto;
  background-color: #b3c7e6;
  color: #000066;
}
header {
  background-color: #869dc7;
  color: #00005d;
  font-size: 1.2em;
  background-image: url(./lighthouselogo.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 5px 5px 5px 130px;
}
nav {
  float: left;
  width: 25%;
}
nav ul {
  list-style: none;
  padding: 5px;
}
nav a {
  text-decoration: none;
  padding: 10px;
  display: block;
  background-color: #00005d;
  color: #ffffff;
  border-radius: 50px;
  margin: 5px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 0.8em;
}
a:link {
  color: red;
}
a:visited {
  color: darkmagenta;
}
a:focus {
  color: green;
}
a:hover {
  color: darkorange;
}
a:active {
  color: blue;
}
main {
  background-color: white;
  overflow: auto;
  padding: 1em;
}
#floatright {
  float: right;
  margin: 0.5em;
}
footer {
  text-align: center;
  font-style: italic;
  background-color: #869dc7;
  padding: 0.2em;
}
